:root {
    /* Colors */
    --clr-bright-orange: hsl(31, 77%, 52%);
    --clr-dark-cyan: hsl(184, 100%, 22%);
    --clr-very-dark-cyan: hsl(179, 100%, 13%);
    --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-very-light-gray: hsl(0, 0%, 95%);

    /* Fonts */
    --font-size: 15px;
    --f-lexend-deca: "Lexend Deca", sans-serif;
    --f-big-shoulders-display: "Big Shoulders Display", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--clr-very-light-gray);
    font-family: var(--f-lexend-deca);
}